@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Charis+SIL:ital@1&family=Lobster&family=Poppins:ital,wght@0,300;1,200;1,400&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Carter+One&family=Charis+SIL:ital@1&family=Lobster&family=Poppins:ital,wght@0,300;1,200;1,400&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Charis+SIL:ital@1&family=Lobster&family=Poppins:ital,wght@0,300;1,200;1,400&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Carter+One&family=Charis+SIL:ital@1&family=Lobster&family=Poppins:ital,wght@0,300;1,200;1,400&family=Roboto+Condensed&display=swap");
.main-carousel {
  width: 90%;
  height: 23rem;
  border-radius: 5px;
}

.main-carousel .imgdiv {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.main-carousel .imgdiv .carousel-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.main-carousel .imgdiv .carousel-item .carouselImage {
  width: 100%;
  height: 100%;
}

.carouselButton {
  background-color: tomato;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 2px 12px 4px 12px;
  border: 1px solid white;
  text-decoration: none;
}

.carouselButton:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: black;
  background-color: #347034;
}

@media screen and (max-width: 991px) {
  .carousel-section {
    height: 18rem;
  }
  .main-carousel {
    width: 90%;
    height: 18rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 767px) {
  .carousel-section {
    height: 15rem;
  }
  .main-carousel {
    width: 90%;
    height: 15rem;
    border-radius: 5px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-section {
    height: 12rem;
  }
  .main-carousel {
    width: 90%;
    height: 12rem;
    border-radius: 5px;
  }
}

.sdepartment .depImg {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border: 2px solid;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sdepartment .depImg img {
  width: 100%;
  height: 100%;
}

.sdepartment .depImg:hover {
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.sdepartment .dep-text {
  width: 8rem;
  height: 2rem;
}

@media screen and (max-width: 1199px) {
  .sdepartment .depImg {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border: 2px solid;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .sdepartment h4 {
    font-size: 20px;
  }
  .sdepartment .dep-text {
    width: 6rem;
    height: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .sdepartment {
    margin-top: 5px;
  }
}

/* feature */
/* feature card */
.feature-section {
  min-height: 28rem;
}

.featureMain {
  width: 100%;
  height: 3rem;
}

.featureMain .FeatureAll {
  width: 22.5rem;
  height: 100%;
  overflow: hidden;
}

.featureMain .FeatureAll .btnAll {
  padding: 15px 30px;
  border: none;
  color: white;
}

.featureMain .FeatureAll .btnTopFeature {
  padding: 15px 30px;
  color: white;
  border: none;
}

.featureMain .FeatureAll .btnSeller {
  padding: 15px 30px;
  color: white;
  border: none;
}

@media screen and (max-width: 767px) {
  .featureMain .FeatureAll {
    width: 18.5rem;
    height: 100%;
  }
  .featureMain .FeatureAll .btnAll {
    font-size: 13px;
    padding: 10px 25px;
  }
  .featureMain .FeatureAll .btnTopFeature {
    font-size: 13px;
    padding: 10px 25px;
  }
  .featureMain .FeatureAll .btnSeller {
    font-size: 13px;
    padding: 10px 25px;
  }
}

.color {
  background-color: black;
}

.background {
  background-color: rgba(177, 16, 16, 0.89);
}

.active {
  background-color: black;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box .feature-cardbox {
  width: 11rem;
  height: 11rem;
  margin-top: 10px;
  border: 1px solid;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box .feature-cardbox:hover {
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  background-color: white;
}

@media screen and (max-width: 1199px) {
  .feature-cardbox {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .feature-cardbox {
    width: 12rem !important;
  }
}

.featurebox {
  width: 100%;
  height: 80%;
  position: relative;
}

.featurebox img {
  margin-top: 10px;
  width: 90%;
  height: 90%;
}

.featurebox .place {
  color: white;
  position: absolute;
  top: 0px;
  border-bottom-right-radius: 5px;
  background-color: red;
  padding: 5px 13px 7px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: black;
}

.featurebox-text {
  position: relative;
  width: 100%;
  height: 10%;
  margin: 0%;
  padding: 0px 12px;
  margin: auto;
}

.featurebox-text p:hover {
  color: tomato;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.images-slider {
  position: relative;
  height: 100%;
}

.images-slider .mBtn {
  text-decoration: none;
  padding: 3px 5px;
  color: white;
  background-color: tomato;
  margin-left: 5px;
  border-radius: 3px;
}

.images-slider .mBtn:hover {
  -webkit-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.images-slider .swiper {
  margin-top: 0 !important;
  padding: 0;
  height: 400px;
  width: 100%;
  margin-bottom: 5rem;
}

.images-slider .swiper .slider-box {
  margin: 20px;
  height: 300px;
  width: 250px;
  background-color: #fcfcfc;
  position: relative;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid rgba(187, 187, 187, 0.4);
}

.images-slider .swiper .slider-box a {
  text-decoration: none;
  text-align: center;
}

.images-slider .swiper .slider-box .img-box {
  height: 160px;
  width: 120px;
}

.images-slider .swiper .slider-box .img-box img {
  height: 10rem;
  max-width: 100%;
  max-height: 100%;
}

.images-slider .swiper .slider-box .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 35px;
}

.images-slider .swiper .slider-box .detail .price {
  color: #ffffff;
  background-color: #8f8c8c;
  line-height: 20px;
  padding: 2px 5px;
  border-radius: 10px;
}

.images-slider .swiper .slider-box .productCart {
  position: absolute;
  bottom: 0px;
  height: 45px;
  background-color: #0f0f0f;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.images-slider .swiper .slider-box .productCart a {
  color: white;
}

.images-slider .swiper .slider-box .productCart:hover {
  background-color: #fe9048;
  -webkit-box-shadow: 2px 2px 2px rgba(47, 47, 47, 0.4);
          box-shadow: 2px 2px 2px rgba(47, 47, 47, 0.4);
}

.images-slider .swiper .slider-box:hover {
  /* IE 9 */
  -webkit-transform: scale(1.01);
  /* Safari 3-8 */
  transform: scale(1.01);
}

@media screen and (max-width: 767px) {
  .swiper-slider {
    width: 11.66rem !important;
    margin-right: 0px !important;
  }
  .slider-box {
    margin: 20px;
    height: 350px !important;
  }
}

@media screen and (max-width: 991px) {
  .slider-box {
    margin: 20px;
    height: 350px !important;
  }
}

@media screen and (max-width: 1200px) {
  .slider-box {
    margin: 20px;
    height: 350px !important;
    width: 100% !important;
  }
}

.explore {
  margin-bottom: 2rem;
  width: 100%;
  height: 400px;
  position: relative;
}

.explore .img-fluid {
  width: 100%;
  height: 100%;
}

.explore .explore-text {
  position: absolute;
  top: 100px;
  padding-left: 5px;
  color: #e4dfdf;
  font-size: 40px;
  font-family: 'Carter One', cursive;
  font-weight: bolder;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.explore .explore-paragraph {
  position: absolute;
  top: 150px;
  width: 35%;
  min-height: 5rem;
  max-height: 12rem;
  overflow: hidden;
}

.explore .explore-paragraph p {
  color: white;
  padding-left: 5px;
  text-shadow: 0.5px 0.5px black;
}

@media screen and (max-width: 667px) {
  .explore-text {
    margin-right: 15px !important;
  }
  .explore-paragraph {
    top: 150px;
    width: 35%;
    max-height: 12rem;
  }
}

@media screen and (max-width: 533px) {
  .explore-text {
    margin-right: 15px !important;
    top: 50px !important;
  }
}

.testimonial-div {
  background-color: #f3f1f1;
  width: 100%;
  min-height: 18rem;
}

.testimonial-div h4 {
  font-size: 18px;
  color: #8f8c8c;
  padding-top: 10px;
}

.testimonial-div .testimonial {
  width: 100%;
  min-height: 10rem;
}

.testimonial-div .testimonial .testi-qoute {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-div .testimonial .testi-qoute .quote {
  text-decoration: none;
  font-size: 40px;
  color: #f7d18c;
}

.testimonial-div .testimonial .testi-text {
  text-align: center;
  padding-top: 50px;
  border-top: 2px solid #c9c5c5;
}

.testimonial-div .testimonial .testi-text h5 {
  font-size: 15px;
  font-weight: 400;
  color: #5a5757;
  margin-top: 10px;
}

.testimonial-div .testimonial .testi-text p {
  font-size: 15px;
  font-weight: 400;
  color: #5a5757;
}

.testimonial-div .testimonial .testi-text a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 8px 8px;
  border-bottom: 1px solid #b8b2b2;
}

.testimonial-div .testimonial .testi-text .Pstate {
  padding-top: 8px;
  font-size: 14px;
}

.testimonial-div .testimonial .testi-text .Pstate .madrid {
  color: #a3a0a0;
}

.testimonial-div .See-ALL {
  text-decoration: none;
  padding: 5px 5px 3px 5px;
  color: #b3b0b0;
  border: 0.5px solid #b3b0b0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.testimonial-div .See-ALL:hover {
  background-color: white;
  color: #555353;
}

.modal-body {
  background-color: #f3f1f1;
}

.modal-body .breadcrmb {
  text-decoration: none;
  color: #8f8c8c;
}

.modal-body .m-text {
  width: 80%;
  margin: auto;
  padding-top: 60px;
}

.modal-body .m-text h5 {
  font-size: 15px;
  font-weight: 400;
}

.modal-body .m-text p {
  font-size: 15px;
  font-weight: 400;
}

.modal-body .m-text a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 8px 8px;
  border-bottom: 1px solid #b8b2b2;
}

.modal-body .m-text .modal-state {
  padding-top: 8px;
  font-size: 14px;
}

.modal-body .m-text .modal-state .state-text {
  color: #a3a0a0;
}
/*# sourceMappingURL=main.css.map */