// @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

$color_1: white;
$color_2: black;
$color_3: tomato;
$color_4: green;
$color_5: gray;
$background-color_1: tomato;
$background-color_2: rgb(52, 112, 52);
$background-color_3: black;
$background-color_4: rgba(177, 16, 16, 0.89);
$background-color_5: white;
$background-color_6: red;

// 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Charis+SIL:ital@1&family=Lobster&family=Poppins:ital,wght@0,300;1,200;1,400&family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Carter+One&family=Charis+SIL:ital@1&family=Lobster&family=Poppins:ital,wght@0,300;1,200;1,400&family=Roboto+Condensed&display=swap');